<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">調査一覧</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <%= link_to "新規調査作成", new_admin_survey_path, class: "btn btn-sm btn-primary" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">調査名</th>
        <th scope="col">作成日時</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @surveys.each do |survey| %>
        <tr>
          <td><%= survey.survey_name %></td>
          <td><%= l survey.created_at, format: :long %></td>
          <td><%= link_to "質問を管理する", admin_survey_questions_path(survey), class: "btn btn-sm btn-outline-secondary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
