<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">ようこそ、<%= current_admin_user.user_name %>さん</h1>
    <p class="col-md-8 fs-4">ここから各種管理機能をご利用ください。</p>
  </div>
</div>
